.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 30px;
  height: 30px;
}

.box {
  flex-shrink: 0;
  width: 4px;
  height: 5px;
  margin: 1px;
  background-color: #73c1a2;
  padding: 0;
}